/* RESET GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(228, 241, 248);
}

/* HEADER */
header{
    background-color: white;
}

header img{
    line-height: 3em;
    vertical-align: middle;
}

header h1{
    display: inline-block;
    line-height: 3em;
    vertical-align: middle;
}

.container-top{
    padding-left: 1em;
}


/* MAIN */
.container-main{
    width: 75%;
    margin: 3em auto;
    background-color: white;
}

.item-top{
    padding: 1rem;
    border-bottom: 1px solid rgb(228, 241, 248);
    width: 100%;
}

.item-bottom{
    width: 100%;
}