/* RESET GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(228, 241, 248);
}

/* HEADER */
header{
    background-color: white;
}

header img{
    line-height: 3em;
    vertical-align: middle;
}

header h1{
    display: inline-block;
    line-height: 3em;
    vertical-align: middle;
}

.container-top{
    padding-left: 1em;
}


/* MAIN */
.container-main{
    width: 75%;
    margin: 3em auto;
    background-color: white;
}

    /* TOP MAIN */
.item-top{
    padding: 1rem;
    border-bottom: 1px solid rgb(228, 241, 248);
    width: 100%;
    padding: 1rem 5rem;
}

.item-top button{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#sx{
    background-color: rgb(105, 108, 247);
    color: white;
    border: 1px solid rgb(105, 108, 247);
}

#dx{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

    /* BOTTOM MAIN */
.item-bottom{
    width: 100%;
    padding: 0 6rem 2rem;
}

.item-bottom p{
    margin-bottom: 2.4rem;
}

.item-bottom ul{
    list-style-type: none;
}

.item-bottom ul li{
    margin: 0.4rem;
}



/* ETICHETTE */
.label{
    border-radius: 0.5rem;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.2rem;
}

.green{
    background-color: rgb(129, 212, 129);
}

.gold{
    background-color: rgb(225, 241, 81);
}

.blue{
    background-color: rgb(105, 108, 247);
}

.orange{
    background-color: orange;
}

.pink{
    background-color: rgb(233, 102, 182);
}

.purple{
    background-color: purple;
}


/* ENTITY */
.triangle{
    font-size: 1rem;
}